  
<div class="rows">
    <div class="level">
        <div class="level-left ml-4" v-show="tabIdx==0">
            <p class="is-size-5">List Projectypte</p>
        </div>
        <div class="level-right">
            <a class="button"  @click="tabIdx = 1;" v-show="tabIdx==0">
                <span class="icon">
                    <ion-icon name="add-outline"></ion-icon>
                </span>
                <span> New Projecttype</span>
            </a>
        </div>
    </div>
    <div v-if="tabIdx === 0">
        <div v-for="content in contents" class="column" :key="content.idProjecttype">
            <div class="card">
                <div class="card-content ">
                    <div>
                        <h4 class='is-size-7 is-lightgray mb-3'>ID: {{content.idProjecttype}}</h4> 
                            <p><b> Name:</b> {{content.name}}</p>
                            <p><b>Description:</b>{{content.description}}</p>
                    </div>
                    <div class="has-text-right">
                        <span class="Edit" @click="tabIdx=2; contentEdit = content">
                            <a href="#">
                                <ion-icon name="create-outline"></ion-icon>
                                <span>Edit</span>
                            </a>
                        </span>
                        <span class="Delete ml-4" @click="currentProjecttypeId = content.idProjecttype;tabIdx = 3;">
                            <a href="#" class="has-text-danger" >
                                <ion-icon name="trash-outline"></ion-icon>
                                <span >Delete</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card m-4 p-4 border-redish" v-if="tabIdx === 3">
        <h2 class="is-size-5 has-text-danger">Are you sure?</h2>
        <div class="field is-grouped is-grouped-right">
            <button class="button is-link is-danger" @click="deleteProjecttype(currentProjecttypeId)">
                <span class="icon">
                    <ion-icon name="shield-checkmark"></ion-icon>
                </span>
                <span>Sure</span>
            </button>
            <button class="button ml-2 is-link is-light" @click="tabIdx = 0;">
                <span class="icon">
                    <ion-icon name="arrow-back-circle"></ion-icon>
                </span>
                <span>Back</span>
            </button>
        </div>
    </div>
    <div v-if="tabIdx === 1">
        <div class='column '>
            <form @submit="createProjecttype(contentEdit,$event)">
                <div class='panel'>
                    <div class='panel-heading'>
                        New Projecttype
                    </div>
                    <h4 class="p-2 m-1 has-text-danger has-background-danger-light has-text-centered" v-show="errorMessage.length > 0">{{errorMessage}}</h4>
                    <div class='panel-block'>
                        <div class='container'>
                            <div class=field>
                                <label class='label'>Name</label>
                                <div class='control'>
                                    <input class='input' type='text' v-model="contentEdit.name" placeholder='name' @focus="errorMessage=''">
                                </div>
                            </div>
                            <div class=field>
                                <label class='label'>Description</label>
                                <div class='control'>
                                    <input class='input' type='text' v-model="contentEdit.description" placeholder='description' @focus="errorMessage=''"> 
                                    
                                </div>
                            </div>
                            <div class='field is-grouped'>
                                <div class='control'>
                                    <button class='button is-link'>
                                        <span class="icon"><ion-icon name="checkmark-circle"></ion-icon></span>
                                        <span>Submit</span>
                                    </button>
                                </div>
                                <div class='control'>
                                    <button class='button is-link is-light' @click="tabIdx=0">
                                        <span class="icon"><ion-icon name="arrow-back-circle"></ion-icon></span>
                                        <span>Back</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div v-if="tabIdx === 2">
        <div class='column '>
            <form @submit="editProjecttype(contentEdit,$event)">
                <div class='panel'>
                    <div class='panel-heading'>
                        Edit Projecttype
                    </div>
                    <h4 class="p-2 m-1 has-text-danger has-background-danger-light has-text-centered" v-show="errorMessage.length > 0">{{errorMessage}}</h4>
                    <div class='panel-block'>
                        <div class='container'>
                            <div class=field>
                                <label class='is-size-7 is-lightgray'>ID:{{contentEdit.idProjecttype}}</label>
                            </div>
                            <div class=field>
                                <label class='label'>Name</label>
                                <div class='control'>
                                    <input class='input' type='text' v-model='contentEdit.name' @focus="errorMessage=''">
                                </div>
                            </div>
                            <div class=field>
                                <label class='label'>Description</label>
                                <div class='control'>
                                    <input class='input' type='text' v-model='contentEdit.description'@focus="errorMessage=''">
                                </div>
                            </div>
                            <div class='field is-grouped'>
                                <div class='control'>
                                    <button type="submit" class='button is-link'>
                                        <span class="icon"><ion-icon name="checkmark-circle"></ion-icon></span>
                                        <span>Submit</span>
                                    </button>
                                </div>
                                <div class='control'>
                                    <button class='button is-link is-light' @click="tabIdx = 0;">
                                        <span class = "icon"><ion-icon name="arrow-back-circle"></ion-icon></span>
                                        <span>Back</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>