<div class="rows">
    <div class="tab is-medium">
        <ul>
            <li>
                <a href="tabIdx = 0">List Staff</a>
            </li>
            <li>
                <a href="#" @click="tabIdx = 1;">New Staff</a>
            </li>
        </ul>
    </div>
    <div v-if="tabIdx===0">
        <div v-for="content in contents" :key="content.idStaff">
            <div class="card">
                <div class="card-content ">
                        <h4 class='is-size-7 is-lightgray'>Mã:{{content.idStaff}}</h4>
                        <strong></strong>
                </div>
            </div>
        </div>
    </div>
    <div v-if="tabIdx === 1">
        
    </div>
</div>