<div class="rows">
    <div class="tabs is-medium">
        <ul>
            <li>
                <a @click="tabIdx = 0;">List Semester</a>
            </li>
            <li>
                <a @click="tabIdx = 1;">New Semester</a> 
            </li>
        </ul>
    </div>
    <div v-if="tabIdx == 0">
        <div  v-for="content in contents" class="column" :key="content.idSemester">
            <div class="card">
                <div class="card-content ">
                    <div>
                        <h4 class='is-size-7 is-lightgray'>Mã học kỳ: {{content.idSemester}}</h4> 
                        <strong>
                            <p class="mb-3">Học kỳ: {{content.semesterIndex + 1}}</p>
                            <p>Năm học: {{content.year}}-{{content.year+1}}</p>
                        </strong>
                    </div>
                    <div class="has-text-right">
                        <span class="Edit" @click="tabIdx=2; contentEdit = content">
                            <a href="#">
                                <ion-icon name="create-outline"></ion-icon>
                                <span>Edit</span>
                            </a>
                        </span>
                        <span class="Delete ml-4" @click="currentSemesterId = content.idSemester;tabIdx = 3;">
                            <a href="#" class="has-text-danger" >
                                <ion-icon name="trash-outline"></ion-icon>
                                <span >Delete</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card m-4 p-4 border-redish" v-if="tabIdx === 3">
        <h2 class="is-size-5 has-text-danger">Are you sure?</h2>
        <div class="field is-grouped is-grouped-right">
            <button class="button has-text-danger" @click="deleteSemester(currentSemesterId)">
                <span class="icon">
                    <ion-icon name="shield-checkmark"></ion-icon>
                </span>
                <span>Yes</span>
            </button>
            <button class="button ml-2 has-text-success" @click="tabIdx = 0;">
                <span class="icon">
                    <ion-icon name="arrow-back-circle"></ion-icon>
                </span>
                <span>No</span>
            </button>
        </div>
    </div>
    <div v-if="tabIdx === 1">
        <div class='column '>
            <div class='panel'>
                <div class='panel-heading'>
                    New semester
                </div>
                <div class='panel-block'>
                    <div class='container'>
                        <div class=field>
                            <label class='label'>Year</label>
                            <div class='control'>
                                <input class='input' type='text' v-model="semesterData.year" placeholder='Year' value="">
                            </div>
                        </div>
                        <div class=field>
                            <label class='label'>Semester</label>
                            <dropdown-list :items="['Fall', 'Spring']" :on-select-changed='selectChanged'></dropdown-list>
                        </div>
                        <div class='field is-grouped'>
                            <div class='control'>
                                <button @click="createSemester(semesterData)" class='button is-link'>Submit</button>
                            </div>
                            <div class='control'>
                                <button class='button is-link is-light' @click='tabIdx=0;'>Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div v-if="tabIdx === 2">
        <div class='column '>
            <div class='panel'>
                <div class='panel-heading'>
                    Edit Semester
                </div>
                <div class='panel-block'>
                    <div class='container'>
                        <div class=field>
                            <label class='label is-size-7 is-lightgray'>Mã học kỳ: {{contentEdit.idSemester}}</label>
                        </div>
                        <div class=field>
                            <label class='label'>Năm học</label>
                            <div class='control'>
                                <input class='input' type='text' v-model='contentEdit.year'>
                            </div>
                        </div>
                        <div class=field>
                            <label class='label'>Học kỳ</label>
                            <div class='control'>
                                <dropdown-list :items="['Fall','Spring']" :on-select-changed="(selectedItem, selectedIndex) => contentEdit.semesterIndex = selectedIndex" :selected-index="contentEdit.semesterIndex"></dropdown-list>
                            </div>
                        </div>
                        <div class='field is-grouped'>
                            <div class='control'>
                                <button @click="editSemester(contentEdit.idSemester,contentEdit.year,contentEdit.semesterIndex)" class='button is-link'>Submit</button>
                            </div>
                            <div class='control'>
                                <button class='button is-link is-light' @click="tabIdx = 0;">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>