<div class="rows">
    <div class="level">
        <div class="level-left ml-4" v-show="tabIdx==0">
            <p class="is-size-5">List Semester</p>
        </div>
        <div class="level-right">
            <a class="button" @click="tabIdx = 1;" v-show="tabIdx==0">
                <span class="icon">
                    <span class="icon-plus"></span>
                </span>
                <span> New Semester</span>
            </a>
        </div>
    </div>
    <div v-if="tabIdx == 0">
        <p v-if="errorMessage && errorMessage.length" class="control">
          <div class="has-text-centered has-text-danger has-background-danger-light">{{errorMessage}}</div>
        </p>
        <div v-for="content in contents" class="column" :key="content.idSemester">
            <div class="card">
                <div class="card-content">
                    <div>
                        <h4 class='is-size-7 is-lightgray'>ID: {{content.idSemester}}</h4>
                        <p>{{content.year}}-{{content.year+1}}</p>
                        <p>Học kỳ {{content.semesterIndex+1}}</p>
                    </div>
                    <div class="has-text-right">
                        <span @click="currentSemester = content;tabIdx = 5;">
                            <a href="#" class="has-text-primary-dark">
                                <span class="icon-list"></span>
                                <span>View</span>
                            </a>
                        </span>
                        <span class="Upload ml-4" @click="currentSemesterId = content.idSemester;tabIdx = 4;">
                            <a href="#" class="has-text-primary-dark">
                                <span class="icon-upload"></span>
                                <span>Upload</span>
                            </a>
                        </span>
                        <span class="Edit ml-4" @click="tabIdx=2; contentEdit = content">
                            <a href="#">
                                <span class="icon-pencil-alt"></span>
                                <span>Edit</span>
                            </a>
                        </span>
                        <span class="Delete ml-4" @click="pendingAction = {fn: deleteSemester, param: content.idSemester};tabIdx = 3;">
                            <a href="#" class="has-text-danger">
                                <span class="icon-trash"></span>
                                <span>Delete</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card m-4 p-4 border-redish" v-if="tabIdx === 3">
        <h2 class="is-size-5 has-text-danger">Are you sure?</h2>
        <div class="field is-grouped is-grouped-right">
            <button class="button is-link is-danger" @click="pendingAction.fn(pendingAction.param)">
                <span class="icon">
                    <span class="icon-check"></span>
                </span>
                <span>Sure</span>
            </button>
            <button class="button ml-2 is-light" @click="tabIdx = 0;">
                <span class="icon">
                    <span class="icon-arrow-left"></span>
                </span>
                <span>Back</span>
            </button>
        </div>
    </div>
    <div class="card m-4 p-4 border-redish" v-if="tabIdx === 4">
        <form @submit="upload($event)">
            <input type="file" name="xlsx_file" class="custom-file-input" @change="onChangeFile($event)"
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
            <div class="field is-grouped is-grouped-right">
                <button :disabled="!files || !files.length" type="submit" class="button is-link">
                    <span class="icon">
                        <span class="icon-check"></span>
                    </span>
                    <span>Submit</span>
                </button>
                <button type="reset" class="button ml-2 is-light" @click="tabIdx = 0;">
                    <span class="icon">
                        <span class="icon-arrow-left"></span>
                    </span>
                    <span>Back</span>
                </button>
            </div>
        </form>
    </div>
    <div v-if="tabIdx === 5">
        <h2 class="menu-label is-size-5">HK{{currentSemester.semesterIndex + 1}}
            {{currentSemester.year}}-{{currentSemester.year + 1}}</h2>
        <div class="level">
            <form @submit="searchStudentSemesterRels($event)">
                <div class="level-left">
                    <div class="field has-addons">
                        <p class="column is-one-fifth p-0 control">
                            <input class="input" type="text" placeholder="Title project" v-model="searchTitle" @focus="errorMessage=''">
                        </p>
                        <p class="column is-one-fifth p-0 control">
                            <input class="input" type="text" placeholder="Advisors" v-model="searchAdvisors" @focus="errorMessage=''">
                        </p>
                        <p class="column is-one-fifth p-0 control">
                            <input class="input" type="text" placeholder="MSSV" v-model="searchStudentNumber" @focus="errorMessage=''">
                        </p>
                        <p class="column is-one-fifth p-0 control">
                            <input class="input" type="text" placeholder="Student name" v-model="searchFullname" @focus="errorMessage=''">
                        </p>
                        <p class="column is-one-fifth p-0 control">
                            <button type="submit" class="button is-link">
                                <span class='icon-search'></span>
                            </button>
                        </p>
                    </div>
                </div>
            </form>
            <div class="level-right field is-grouped">
                <div class='control'>
                  <a class='button' @click="downloadExcel">
                    <span class='icon'>
                      <span class='icon-export'></span>
                    </span>
                    <span>Export XLSX</span>
                  </a>
                </div>
                <div class='control'>
                  <a class="button" @click="tabIdx=6">
                      <span class="icon">
                          <span class="icon-plus"></span>
                      </span>
                      <span>New student</span>
                  </a>
                </div>
                <div class='control'>
                  <a class="button is-link " @click="tabIdx = 0;">
                      <span class="icon">
                          <span class="icon-arrow-left"></span>
                      </span>
                      <span>Back</span>
                  </a>
                </div>
            </div>
        </div>
        <div class="message has-text-right has-text-info p-1 is-size-7">
          {{itemCount}} items
        </div>
        <div class="column">
            <Pagination :items='studentSemesterRels' :fields="[{
                value: 'student_klass',
                label: 'Class'
              },{
                value: 'student_studentNumber',
                label: 'studentNo'
              },{
                value: 'student_fullname',
                label: 'Student'
              },{
                value: 'student_dob',
                label: 'DoB'
              },{
                value: 'project_title',
                label: 'Project'
              },{
                value: 'advisors',
                label: 'Advisors'
              },{
                value: 'affiliations',
                label: 'Affiliations'
              }]" 
              :row-class-fn="(item) => ({
                'has-background-danger-light': !item.titleConfirm
              })"
              :actions="[{
                class: 'icon-trash has-text-danger',
                fn: (item) => {
                  pendingAction = {
                    fn: deleteStudentSemesterRel,
                    param: item
                  }
                  tabIdx = 3;
                }
              }]"
            >
            </Pagination>
            <!--<table class="table is-fullwidth has-text-centered">
                <thead>
                    <tr>
                        <th>studentNumber</th>
                        <th>email</th>
                        <th>fullname</th>
                        <th>dob</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="ssRel in studentSemesterRels" :key="ssRel.idStudentSemesterRel">
                        <td>{{ssRel.studentNumber}}</td>
                        <td>{{ssRel.email}}</td>
                        <td>{{ssRel.fullname}}</td>
                        <td>{{ssRel.dob}}</td>
                        <td>
                            <span class="Delete">
                                <a href="#" class="has-text-danger"
                                    @click="deleteStudentSemesterRel(ssRel.idStudentSemesterRel)">
                                    <span class="icon-trash"></span>
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>-->
        </div>
    </div>
    <div v-if="tabIdx === 1">
        <div class='column '>
            <form @submit="createSemester(semesterData,$event)">
                <div class='panel'>
                    <div class='panel-heading'>
                        New semester
                    </div>
                    <h4 class="p-2 m-1 has-text-danger has-background-danger-light has-text-centered"
                        v-show="errorMessage.length > 0">{{errorMessage}}</h4>
                    <div class='panel-block'>
                        <div class='container'>
                            <div class="field">
                                <label class='label'>Year</label>
                                <div class='control'>
                                    <input class='input form-input' type='text' v-model="semesterData.year"
                                        placeholder='Year' @focus="errorMessage=''">
                                    <small v-if="yearError" class="has-text-danger">Invalid year</small>
                                </div>
                            </div>
                            <div class=field>
                                <label class='label'>Semester</label>
                                <dropdown-list :items="['HK1', 'HK2']" :on-select-changed='selectChanged'>
                                </dropdown-list>
                            </div>
                            <div class='field is-grouped'>
                                <div class='control'>
                                    <button type="submit" class='button is-link'>
                                        <span class="icon">
                                            <span class="icon-check"></span>
                                        </span>
                                        <span>Submit</span>
                                    </button>
                                </div>
                                <div class='control'>
                                    <button class='button is-link is-light' @click="tabIdx = 0;">
                                        <span class="icon">
                                            <span class="icon-arrow-left"></span>
                                        </span>
                                        <span>Back</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div v-if="tabIdx === 2">
        <div class='column '>
            <form @submit="editSemester(contentEdit,$event)">
                <div class='panel'>
                    <div class='panel-heading'>
                        Edit Semester
                    </div>
                    <h4 class="p-2 m-1 has-text-danger has-background-danger-light has-text-centered"
                        v-show="errorMessage.length > 0">{{errorMessage}}</h4>
                    <div class='panel-block'>
                        <div class='container'>
                            <div class=field>
                                <label class='label is-size-7 is-lightgray'>ID {{contentEdit.idSemester}}</label>
                            </div>
                            <div class=field>
                                <label class='label'>Year</label>
                                <div class='control'>
                                    <input class='input' type='text' v-model='contentEdit.year'
                                        @focus="errorMessage=''">
                                </div>
                            </div>
                            <div class=field>
                                <label class='label'>Semester</label>
                                <div class='control'>
                                    <dropdown-list :items="['Fall','Spring']"
                                        :on-select-changed="(selectedItem, selectedIndex) => contentEdit.semesterIndex = selectedIndex"
                                        :selected-index="contentEdit.semesterIndex"></dropdown-list>
                                </div>
                            </div>
                            <div class='field is-grouped'>
                                <div class='control'>
                                    <button type="submit" class='button is-link'>
                                        <span class="icon">
                                            <span class="icon-check"></span>
                                        </span>
                                        <span>Submit</span>
                                    </button>
                                </div>
                                <div class='control'>
                                    <button class='button is-light' @click="tabIdx = 0;">
                                        <span class="icon">
                                            <span class="icon-arrow-left"></span>
                                        </span>
                                        <span>Back</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div v-if="tabIdx === 6">
        <div class='columns is-centered'>
            <div class='column is-three-quarters'>
                <div class='panel'>
                    <div class="panel-heading">
                        Add Student
                    </div>
                    <div class="panel-block">
                        <form @submit="searchStudent(searchText1,$event)">
                            <div class="field has-addons">
                                <div class="control">
                                    <input class="input" type="text" placeholder="MSSV" v-model="searchText1">
                                </div>
                                <div class="control">
                                    <button type="submit" class="button is-link">
                                        <span class="icon-search"></span>
                                    </button>
                                </div>
                                <div v-if="errorMessage && errorMessage.length" class="control">
                                    <div class="button is-borderless is-radiusless has-text-danger">{{errorMessage}}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-block">
                        <dropdown-list :items="studentList" :item-label-fn="getFullname"
                            :on-select-changed="selectStudent"> </dropdown-list>
                    </div>
                    <div class='field is-grouped pl-3 pt-3 pb-3'>
                        <div class='control'>
                            <button type="submit" class='button is-link' @click="addStudent()">
                                <span class="icon">
                                    <span class="icon-check"></span>
                                </span>
                                <Span>Submit</Span>
                            </button>
                        </div>
                        <div class='control'>
                            <button type="reset" class='button is-light' @click="tabIdx = 5">
                                <span class="icon">
                                    <span class="icon-arrow-left"></span>
                                </span>
                                <span>Back</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div :class="['modal', loading?'is-active':'']">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class='box'>
                <h3 class="is-size-4 has-text-centered">Uploading ...</h3>
                <progress class="progress is-small is-info" max="100"></progress>
            </div>
        </div>
    </div>
</div>
