<div class="rows">
    <div class="tabs is-medium">
        <ul>
            <li>
                <a @click="tabIdx = 0;">List Semester</a>
            </li>
            <li>
                <a class="link" href="#" @click="tabIdx = 1;">
                    <span>New Semester</span>
                </a>
            </li>
        </ul>
    </div>
    <div v-if="tabIdx == 0">
        <div  v-for="content in contents" class="column" :key="content.idSemester">
            <div class="card">
                <div class="card-content ">
                        <span class="is-pulled-left"><b>Mã môn học: {{content.idSemester}}</b> <br> Năm học: {{content.year}}. &nbsp; Học kỳ: {{content.semesterIndex}}</span>
                        <ion-icon  class="is-pulled-right" name="trash-outline" @click="deleteSemester(content.idSemester)"></ion-icon>
                </div>
            </div>
        </div>
    </div>
    <div v-if="tabIdx === 1">
        <div class='column '>
            <div class='panel'>
                <div class='panel-heading'>
                    New semester
                </div>
                <div class='panel-block'>
                    <div class='container'>
                        <div class=field>
                            <label class='label'>Year</label>
                            <div class='control'>
                                <input class='input' type='text' placeholder='Year'>
                            </div>
                        </div>
                        <div class=field>
                            <label class='label'>Semester</label>
                            <dropdown-list :items="['Fall', 'Spring']" :on-select-changed='selectChanged'></dropdown-list>
                        </div>
                        <div class='field is-grouped'>
                            <div class='control'>
                                <button @click="onClick()" class='button is-link'>Submit</button>
                            </div>
                            <div class='control'>
                                <button class='button is-link is-light'>Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
