<div class="rows">
    <div class="tabs is-medium">
        <ul>
            <li>
                <a @click="tabIdx = 0;">List Student</a>
            </li>
            <li>
                <a @click="tabIdx = 1;">New Student</a>
            </li>
        </ul>
    </div>
    <div v-if="tabIdx === 0">
        <div v-for="content in contents" class="column" :key="content.id">
            <div class="card">
                <div class="card-content">
                    show something
                </div>
            </div>
        </div>
    </div>
    <div v-if="tabIdx === 1">
        <div class="panel">
            <div class="panel-heading">
                New Student
            </div>
            <div class="panel-block">
                <div class="container">
                    <div class="field">

                    </div>
                    <div class="field">

                    </div>
                    <div class="field">

                    </div>
                    <div class="control"></div>

                </div>
            </div>
        </div>
    </div>

</div>