<div class="rows">
    <div class="tabs is-medium">
        <ul>
            <li>
                <a @click="tabIdx=0"> List Staff</a>
            </li>
            <li>
                <a @click="tabIdx=1"> New Staff</a>
            </li>
        </ul>
    </div>
    <!-- <div v-if='tabIdx=0'>
        <div v-for="content in contents"class="column" :key="content.idStaff">
            <div class='card'>
                <div class='card-conten'>
                    <div>
                        <h4 class="is-size-7 is-lightgray">
                            mã: {{content.idStaff}}
                        </h4>
                        <strong>
                            <p class='mb-3'>Email: {{content.email}}</p>
                            <p>Funame: {{content.fullname}}</p>
                        </strong>
                    </div>
                </div>
            </div>


        </div>
    </div> -->
    <div v-if="card">

    </div>
    <div v-if='tabIdx=1'>

    </div>
    <div v-if="tabIdx =2"></div>
</div>