<div class="rows">
    <div>{{idStudent}} {{idAdvisor}} {{idSemester}} {{idProjecttype}} {{status}}</div>
    <div v-if="tabIdx == 0">
        <div class="level m-0">
            <div class="level-left has-addons">
                <div class="level-item">
                    <p class="control">
                        <dropdown-list class="min-width-8" :items='["title","status"]'
                            :on-select-changed="searchFieldChanged"></dropdown-list>
                    </p>
                    <p class="control">
                        <input class="input" type="text" placeholder="Find project" v-model="searchText">
                    </p>
                    <p class="control">
                        <a class="button is-link" @click="search(searchText, searchField)">
                            <ion-icon name="search-outline"></ion-icon>
                        </a>
                    </p>
                    <p v-if="errorMessage && errorMessage.length" class="control">
                    <div class="button is-borderless is-radiusless has-text-danger">{{errorMessage}}</div>
                    </p>
                </div>
            </div>
            <div v-if="idStudent" class="level-right">
                <div class="level-item">
                    <router-link class="button" to='/newproject'>
                        <span class="icon">
                            <ion-icon name="add-outline"></ion-icon>
                        </span>
                        <span>
                            New project
                        </span>
                    </router-link>
                </div>
            </div>
        </div>
        <div class="column">
            <table class="table is-fullwidth has-text-centered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Grade</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="content in contents" :key="content.idProject">
                        <td>{{content.title}}</td>
                        <td></td>
                        <td>{{content.grade}}</td>
                        <td>
                            <span class="Edit" @click="tabIdx=2; contentEdit = content">
                                <a href="#">
                                    <ion-icon name="create-outline"></ion-icon>
                                </a>
                            </span>
                            <span class="Delete" @click="currentProjectId = content.idProject;tabIdx = 3;">
                                <a href="#" class="has-text-danger">
                                    <ion-icon name="trash-outline"></ion-icon>
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card m-4 p-4 border-redish" v-if="tabIdx === 3">
        <h2 class="is-size-5 has-text-danger">Are you sure?</h2>
        <div class="field is-grouped is-grouped-right">
            <button class="button is-link is-danger" @click="deleteProject(currentProjectId)">
                <span class="icon">
                    <ion-icon name="shield-checkmark"></ion-icon>
                </span>
                <span>Sure</span>
            </button>
            <button class="button ml-2 is-link is-light" @click="tabIdx = 0;">
                <span class="icon">
                    <ion-icon name="arrow-back-circle"></ion-icon>
                </span>
                <span>Back</span>
            </button>
        </div>
    </div>
    <div v-if="tabIdx === 2">
        <div class='column '>
            <form>
                <div class='panel'>
                    <div class='panel-heading'>
                        Edit Project
                    </div>
                    <div class='panel-block'>
                        <div class='container'>
                            <div class=field>
                                <div class=field>
                                    <label class='label is-size-7 is-lightgray'>ID: {{contentEdit.idProject}}</label>
                                </div>
                            </div>
                            <div class="field">
                                <label class='label'>Title</label>
                                <div class='control'>
                                    <input class='input' type='text' v-model='contentEdit.title'>
                                </div>
                            </div>
                            <div class="field">
                                <label class='label'>description</label>
                                <div class='control'>
                                    <input class='input' type='text' v-model='contentEdit.description'>
                                </div>
                            </div>
                            <div class="field">
                                <label class='label'>advisor</label>
                                <div class='control'>
                                    <input class='input' type='text'>
                                </div>
                            </div>
                            <div class='field is-grouped'>
                                <div class='control'>
                                    <button @click="editAdvisor(contentEdit)" class='button is-link'>
                                        <span class="icon">
                                            <ion-icon name="checkmark-circle"></ion-icon>
                                        </span>
                                        <span>Submit</span>
                                    </button>
                                </div>
                                <div class='control'>
                                    <button class='button is-link is-light' @click="tabIdx = 0;">
                                        <span class="icon">
                                            <ion-icon name="arrow-back-circle"></ion-icon>
                                        </span>
                                        <span>Back</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
