<div class="rows">
    <div v-if="tabIdx == 0">
        <div v-if="!idAdvisor && !idStudent" class="level m-0">
            <form @submit="search()">
                <div class="level-left">
                    <div class="field has-addons">
                        <div class="level-item">
                            <p class="control ml-2">
                                <input class="input" type="text" placeholder="Title project" v-model="searchTitle" @focus="errorMessage=''">
                            </p>
                            <p class="control">
                                <dropdown-list class="min-width-8" :items="semesters" 
                                    :item-label-fn="(item) => (item.idSemester?('HK' + (item.semesterIndex + 1) + ' ' + item.year):'--semesters--')"
                                    :on-select-changed="(selectedItem,selectedIndex) => searchIdSemester = selectedItem.idSemester"
                                ></dropdown-list>
                            </p>
                            <p class="control">
                                <dropdown-list class="min-width-8" :items="advisors" :item-label-fn="getFullname"
                                    :on-select-changed="(selectedItem,selectedIndex) => searchIdAdvisor = selectedItem.idAdvisor">
                                </dropdown-list>
                            </p>
                            <p class="control">
                                <dropdown-list class="min-width-8" :items="projectStatuses" :item-label-fn="(item) => item.length?item:'--status--'"
                                    :on-select-changed="(selectedItem, selectedIndex) => searchStatus = selectedItem">
                                </dropdown-list>
                            </p>
                            <p class="control">
                                <dropdown-list class="min-width-10" :items="projecttypes" :item-label-fn="getName"
                                    :on-select-changed="(selectedItem, selectedIndex) => searchIdProjecttype = selectedItem.idProjecttype"
                                ></dropdown-list>
                            </p>
                            <p class="control">
                                <button type="submit" class="button is-link">
                                    <ion-icon name="search-outline"></ion-icon>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
            <div v-if="idStudent" class="level-right">
                <div class="level-item">
                    <router-link class="button" to='/newproject'>
                        <span class="icon">
                            <ion-icon name="add-outline"></ion-icon>
                        </span>
                        <span>
                            New project
                        </span>
                    </router-link>
                </div>
            </div>
        </div>
        <div class="column">
            <p v-if="errorMessage && errorMessage.length" class="control">
            <div class="has-text-centered has-text-danger has-background-danger-light">{{errorMessage}}</div>
            </p>
            <table class="table is-fullwidth has-text-centered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Semester</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Grade</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="content in contents" :key="content.idProject">
                        <td>{{content.title}}</td>
                        <td>{{semesterLabel(content)}}</td>
                        <td></td>
                        <td>{{content.status}}</td>
                        <td>{{content.grade}}</td>
                        <td>
                            <router-link :to="`/newproject/idProject/${content.idProject}`">
                                <ion-icon name="create-outline"></ion-icon>
                            </router-link>
                            <!-- <router-link :to="`/newproject/idProject/${content.idProject}`" v-if="!idAdvisor && !idStudent">
                                -Score
                            </router-link> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>