<div class="rows">
    <div v-if="tabIdx == 0">
        <div v-if="!idAdvisor && !idStudent" class="columns m-0">
            <form @submit="search($event)">
                <div class="level-left">
                    <div class="field has-addons">
                        <p class="column is-one-quarter p-0 control">
                            <input class="input" type="text" placeholder="Title project" v-model="searchTitle" @focus="errorMessage=''">
                        </p>
                        <p class="column is-one-quarter p-0 control">
                            <input class="input" type="text" placeholder="advisors" v-model="searchAdvisors" @focus="errorMessage=''">
                        </p>
                        <p class="column is-one-quarter p-0 control">
                            <input class="input" type="text" placeholder="members" v-model="searchMembers" @focus="errorMessage=''">
                        </p>
                        <p class="column is-one-quarter p-0 control">
                            <dropdown-list class="min-width-10" :items="projecttypes" :item-label-fn="getName"
                                :on-select-changed="(selectedItem, selectedIndex) => searchIdProjecttype = selectedItem.idProjecttype"
                            ></dropdown-list>
                        </p>
                        <p class="column is-one-quarter p-0 control">
                            <button type="submit" class="button is-link">
                                <span class='icon-search'></span>
                            </button>
                        </p>
                    </div>
                </div>
            </form>
        </div>
        <div class="column">
            <p v-if="errorMessage && errorMessage.length" class="control">
            <div class="has-text-centered has-text-danger has-background-danger-light">{{errorMessage}}</div>
            </p>
            <Pagination :items="contents" :fields="projectFields" 
              :actions="projectActions"
              :on-header-clicked="headerClicked"
              :row-class-fn="(item) => ({ 
                'has-background-danger-light': !item.titleConfirm 
              })"
            >
            </Pagination>
            <!--
            <table class="table is-fullwidth has-text-centered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Semester</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Grade</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="content in contents" :key="content.idProject">
                        <td>{{content.title}}</td>
                        <td>{{semesterLabel(content)}}</td>
                        <td></td>
                        <td>{{content.status}}</td>
                        <td>{{content.grade}}</td>
                        <td>
                            <router-link v-if="idAdvisor" :to="`/newproject/idProject/${content.idProject}/idAdvisor/${idAdvisor}`">
                                <span class="icon-pencil-alt"></span>
                            </router-link>
                            <router-link v-if="!idAdvisor" :to="`/newproject/idProject/${content.idProject}`">
                                <span class="icon-pencil-alt"></span>
                            </router-link>
                        </td>
                    </tr>
                </tbody>
            </table>
            -->
        </div>
    </div>
</div>
