<div class='columns is-centered'>
    <div class='column is-three-quarters'>
        <dropdown-list :items="advisorList" :item-label-fn="getFullname" :on-select-changed="selectAdvisor"> </dropdown-list>
        <div class='panel'>
            <div class="panel-heading">
                Add Advisor
            </div>
            <div class="panel-block">
                <form @submit="searchAdvisor(searchText)">
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" type="text" placeholder="Find advisor" v-model="searchText">
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-link">
                                <ion-icon name="search-outline"></ion-icon>
                            </button>
                        </div>
                        <div v-if="errorMessage && errorMessage.length" class="control">
                            <div class="button is-borderless is-radiusless has-text-danger">{{errorMessage}}</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-block">
                <dropdown-list :items="advisorList" :item-label-fn="getFullname" :on-select-changed="selectAdvisor"> </dropdown-list>
            </div>
            <div class='field is-grouped pl-3 pt-3 pb-3'>
                <div class='control'>
                    <button type="submit" class='button is-link' @click="addAdvisor()">Submit</button>
                </div>
                <div class='control'>
                    <button type="reset" class='button is-link is-light' @click="goBack()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>