<div class="rows">
    <div v-if="tabIdx == 0">
        <div class="level m-0">
            <form  @submit="search(searchText, searchField)">
                <div class="level-left">
                    <div class="field has-addons">
                        <p class="control">
                            <dropdown-list class="min-width-8" :items='["Email","Fullname"]'
                                :on-select-changed="searchFieldChanged"></dropdown-list>
                        </p>
                        <p class="control">
                            <input class="input" type="text" placeholder="Find advisor" v-model="searchText">
                        </p>
                        <p class="control">
                            <button class="button is-link">
                                <ion-icon name="search-outline"></ion-icon>
                            </button>
                        </p>
                        <p v-if="errorMessage && errorMessage.length" class="control">
                        <div class="button is-borderless is-radiusless has-text-danger">{{errorMessage}}</div>
                        </p>
                    </div>
                </div>
            </form>
            
            <div class="level-right">
                <a class="button" @click="tabIdx=1">
                    <span class="icon">
                        <ion-icon name="add-outline"></ion-icon>
                    </span>
                    <span> New Guestadvisor</span>
                    <!-- <router-link to="../newadvisor">
                        <span class="icon">
                            <ion-icon name="add-outline"></ion-icon>
                        </span>
                        <span> New Guestadvisor</span>
                      </router-link> -->
                </a>
            </div>
        </div>
        <div class="column">
            <table class="table is-fullwidth has-text-centered">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Fullname</th>
                        <th>Quota</th>
                        <th>idGuestadvisor</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="content in contents" :key="content.idAvisor">
                        <td>{{content.email}}</td>
                        <td>{{content.fullname}}</td>
                        <td>{{content.idQuota}}</td>
                        <td>{{content.idGuestadvisor}}</td>
                        <td>
                            <span class="Edit" @click="tabIdx=2; contentEdit = content">
                                <a href="#">
                                    <ion-icon name="create-outline"></ion-icon>
                                </a>
                            </span>
                        </td>
                        <td>
                            <span class="Delete" @click="currentAdvisorId = content.idAdvisor;tabIdx = 3;">
                                <a href="#" class="has-text-danger">
                                    <ion-icon name="trash-outline"></ion-icon>
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card m-4 p-4 border-redish" v-if="tabIdx === 3">
        <h2 class="is-size-5 has-text-danger">Are you sure?</h2>
        <div class="field is-grouped is-grouped-right">
            <button class="button is-link is-danger" @click="deleteAdvisor(currentAdvisorId)">
                <span class="icon">
                    <ion-icon name="shield-checkmark"></ion-icon>
                </span>
                <span>Sure</span>
            </button>
            <button class="button ml-2 is-link is-light" @click="tabIdx = 0;">
                <span class="icon">
                    <ion-icon name="arrow-back-circle"></ion-icon>
                </span>
                <span>Back</span>
            </button>
        </div>
    </div>
    <div v-if="tabIdx==1" class='column '>
        <form @submit="createAdvisor(advisorData)">
            <div class='panel'>
                <div class='panel-heading'>
                    New Advisor
                </div>
                <div class='panel-block'>
                    <div class='container'>
                        <h4 class="has-text-danger has-background-danger-light has-text-centered"
                                v-show="errorMessage && errorMessage.length > 0">{{errorMessage}}</h4>
                        <div class=field>
                            <label class='label'>Email</label>
                            <div class='control'>
                                <input class='input' type='text' v-model="advisorData.email" placeholder='email' >
                            </div>
                        </div>
                        <div class=field>
                            <label class='label'>Fullname</label>
                            <div class='control'>
                                <input class='input' type='text' v-model="advisorData.fullname" placeholder='fullname'>
                            </div>
                        </div>
                        <div class=field>
                            <label class='label'>Affliation</label>
                            <div class='control'>
                                <input class='input' type='text' v-model="advisorData.affiliation"  placeholder='Affliation'>
                            </div>
                        </div>
                        <div class='field is-grouped'>
                            <div class='control'>
                                <button type="submit" class='button is-link'>
                                    <span class="icon">
                                        <ion-icon name="checkmark-circle"></ion-icon>
                                    </span>
                                    <span>Submit</span>
                                </button>
                            </div>
                            <div class='control'>
                                <button class='button is-link is-light' @click="tabIdx=0">
                                    <span class="icon">
                                        <ion-icon name="arrow-back-circle"></ion-icon>
                                    </span>
                                    <span>Back</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div v-if="tabIdx === 2">
        <div class='column'>
            <form @submit="editAdvisor(contentEdit, $event)">
                <div class='panel'>
                    <div class='panel-heading'>
                        Edit Advisor
                    </div>
                    <div class='panel-block'>
                        <div class='container'>
                            <div class=field>
                                <div class=field>
                                    <label class='label is-size-7 is-lightgray'>ID: {{contentEdit.idAdvisor}}</label>
                                </div>
                            </div>
                            <div class="field">
                                <label class='label is-size-6 is-lightgray'>Email: {{contentEdit.email}}</label>
                            </div>
                            <div class="field">
                                <label class='label'>Fullname</label>
                                <div class='control'>
                                    <input class='input' type='text' v-model='contentEdit.fullname'>
                                </div>
                            </div>
                            <div class="field">
                                <label class='label'>Quota</label>
                                <div class='control'>
                                    <dropdown-list :items="['0','1','2']"
                                        :on-select-changed="(selectedItem, selectedIndex) => contentEdit.idQuota = selectedIndex"
                                        :selected-index="contentEdit.idQuota"></dropdown-list>
                                </div>
                            </div>
                            <div class="field">
                                <label class='label'>idGuestadvisor</label>
                                <div class='control'>
                                    <input class='input' type='text' v-model='contentEdit.idGuestadvisor'>
                                </div>
                            </div>
                            <div class='field is-grouped'>
                                <div class='control'>
                                    <button type="submit" class='button is-link'>
                                        <span class="icon">
                                            <ion-icon name="checkmark-circle"></ion-icon>
                                        </span>
                                        <span>Submit</span>
                                    </button>
                                </div>
                                <div class='control'>
                                    <button class='button is-link is-light' @click="tabIdx = 0;">
                                        <span class="icon">
                                            <ion-icon name="arrow-back-circle"></ion-icon>
                                        </span>
                                        <span>Back</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>