<div class='panel'>
  <div v-if="tabIdx===0">
    <div class='panel-heading'>
      {{idProject?"Edit Project (id:" + idProject  + ")": "New Project"}}
    </div>
    <div class='panel-block'>
      <div class='container'>
        <h4 class="has-text-danger has-background-danger-light has-text-centered"
          v-show="errorMessage && errorMessage.length > 0">{{errorMessage}}</h4>
        <div class="field">
          <label class='label'>Title ( <span :class="{'has-text-danger':!dataProject.titleConfirm, 'has-text-success':dataProject.titleConfirm}">{{dataProject.titleConfirm?"confirmed":"unconfirmed"}}</span> )</label>
          <div class='columns'>
            <div v-if="idProject" class='column pr-0' style='flex:0'>
              <button :class="{'button':true, 'has-background-info': dataProject.titleConfirm}"
                @click="confirmTitle(dataProject)">
                <span :class="{'icon-check':true, 'has-text-white': dataProject.titleConfirm}"></span>
              </button>
            </div>
            <div class="column">
              <input v-if="!(dataProject.titleConfirm && idStudent)" class='input' type='text' v-model="dataProject.title" placeholder='title'>
              <div v-if="dataProject.titleConfirm && idStudent" class='input'>{{dataProject.title}}</div>
            </div>
          </div>
        </div>
        <div class="field">
          <label class='label'>Projecttype</label>
          <div class='control'>
            <dropdown-list class="min-width-8" :items="projecttypes" :selected-index="projecttypeSelectedIdx"
              :item-label-fn="labelProjecttype" :on-select-changed="selectedProjecttype"></dropdown-list>
          </div>
        </div>
        <div class="field">
          <label class='label'>Semester</label>
          <div class='control'>
            <dropdown-list class="min-width-8" :items="semesters" :selected-index="semesterSelectedIdx"
              :item-label-fn="labelSemester" :on-select-changed="selectedSemester"></dropdown-list>
          </div>
        </div>
        <div class="field">
          <label class='label'>Description</label>
          <div class='control'>
            <textarea class='textarea' type='text' v-model="dataProject.description"
              placeholder='description'></textarea>
          </div>
        </div>
        <div v-if="idProject" class="field">
          <div class="columns">
            <div class="column">
              <label class="label">Advisor -{{idProject}} -{{idStudent}} -{{idAdvisor}}</label>
              <div v-if="!idAdvisor">
                <router-link :to="`/newproject/addadvisor/idProject/${idProject}`">
                  <span>
                    Add Advisor
                  </span>
                </router-link>
              </div>
              <ul class="item-list">
                <li v-for="advisor in advisors" :key="advisor.idProjectadvisorrel">
                  {{advisor.fullname}}
                  <span v-if="idAdvisor && (idAdvisor === ('' + advisor.idAdvisor)) && !advisor.status" class="is-size-7">
                    <a class="mx-2 has-text-danger" @click="deleteAdvisorRel(advisor.idProjectadvisorrel)">
                      [Reject]
                    </a>
                    or
                    <a class="ml-2" @click="tabIdx=1;pendingFn=confirm; pendingParams = advisor.idProjectadvisorrel">
                      [Accept]
                    </a>
                  </span>
                  <a v-if="!idAdvisor && !idStudent" class='ml-2 is-size-7' @click="deleteAdvisorRel(advisor.idProjectadvisorrel)">
                    [x]
                  </a>
                  <a v-if="!idAdvisor && !advisor.status" class="ml-2 is-size-7 has-text-danger">
                    [waiting]
                  </a>
                </li>
              </ul>
            </div>
            <div class="column">
              <label class="label">Members</label>
              <router-link v-if="!idAdvisor" :to="`/newproject/addmember/idProject/${idProject}`">
                <span>
                  Add members
                </span>
              </router-link>
              <ul class="item-list">
                <li v-for="member in members" :key="member.idProjectStudentRel">
                  {{member.fullname}} ({{member.studentNumber}})
                  <a v-if="!idAdvisor" class="ml-2 is-size-7" 
                    @click="pendingFn = deleteStudentRel; pendingParams = member.idProjectstudentrel; tabIdx = 1;">
                    [x]
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="level">
          <div class="level-left field is-grouped is-grouped">
            <div class='control'>
              <button @click="saveProject(dataProject)" class='button is-link'>
                <span class="icon">
                  <span class="icon-check"></span>
                </span>
                <span>Submit</span>
              </button>
            </div>
            <div class='control'>
              <button class='button is-light' @click="goBack()">
                <span class="icon">
                  <span class="icon-arrow-left"></span>
                </span>
                <span>Back</span>
              </button>
            </div>
          </div>
          <div class="level-right">
            <div v-if="idProject" class='control'>
              <a class='has-text-danger button has-background-danger-light' 
                @click="pendingFn = deleteProject; pendingParams = idProject; tabIdx = 1;">
                <span class="icon">
                  <span class="icon-trash"></span>
                </span>
                <span>Delete</span>
              </a>
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div class="card  p-4" v-if="tabIdx === 1">
    <h2 class="is-size-5 has-text-danger">Confirm?</h2>
    <div class="field is-grouped is-grouped-right">
      <button class="button is-link is-danger" @click="pendingFn && pendingFn(pendingParams);tabIdx = 0;">
        <span class="icon">
          <span class="icon-check"></span>
        </span>
        <span>Sure</span>
      </button>
      <button class="button ml-2 is-light" @click="pendingFn = null; pendingParams = null; tabIdx = 0;">
        <span class="icon">
          <span class="icon-arrow-left"></span>
        </span>
        <span>Back</span>
      </button>
    </div>
  </div>
</div>
