@charset "utf-8";
$student:#49bf67;
$advisor:gray;
$staff: #3298dc;
@import "~bulma/bulma";
.bg-staff{
    background-color:$staff;
}
.button.is-link{
    background-color: $staff;
}
.button.is-link.is-light{
    background-color: $staff;
}
.bg-advisor{
    background-color: $advisor;
    border: 0px;
}
a.navbar-item.bg-staff:hover{
    background-color:$staff ;
}
a.navbar-item.bg-advisor:hover{
    background-color:$advisor ;
}
.bg-student{
    background-color: $student;
}
a.navbar-item.bg-student:hover{
    background-color:$student ;
}
.menu-list a.is-active_bg-student{
    background-color: $student;
}
.menu-list a.is-active_bg-advisor{
    background-color: $advisor;
}
.menu-list a.is-active_bg-staff{
    background-color:$staff;
}
.is-lightgray {
    color: lightgray !important;
}
.border-redish {
    border: 1px solid pink;
}
.min-width-5 {
    min-width: 5rem;
}
.min-width-6 {
    min-width: 6rem;
}
.min-width-7 {
    min-width: 7rem;
}
.min-width-8 {
    min-width: 8rem;
}
.min-width-10 {
    min-width: 10rem;
}
.min-width-15 {
    min-width: 15rem;
}
.is-borderless {
    border: none;
}