@import '~spin.js/spin.css';
// $staff: #3298dc;
// .menu-list a.is-active_bg-staff{
//     background-color:$staff;
// }
// .bg-staff{
//     background-color:$staff;
// }s
.is-lightgray {
    color: lightgray !important;
}
.border-redish {
    border: 1px solid pink;
}
.min-width-5 {
    min-width: 5rem;
}
.min-width-6 {
    min-width: 6rem;
}
.min-width-7 {
    min-width: 7rem;
}
.min-width-8 {
    min-width: 8rem;
}
.min-width-10 {
    min-width: 10rem;
}
.min-width-15 {
    min-width: 15rem;
}
.is-borderless {
    border: none;
}
.has-pointer {
    cursor:pointer;
}
tr td, tr, th {
  max-width:300px;
}
